@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$background-color: #fff;
$base-color: #6f6c90;
$accent-color: #170f49;
$primary-color: #4a3aff;
$secondary-color: #962dff;
$main-font: "DM sans", sans-serif;
